 <div class="container">
  <header class="col-8">
    <h1 id="logo"><a href="/?">WuvR</a></h1>
  </header>

  <div class="col-4">
    <nav>
      <ul>
        <li class="nav"><a href="/user/profile"><h4>My Profile</h4></a></li>
        <li class="nav"><a href="/logout"><h4>Log Out</h4></a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-8 push-2">
      <div id="map"></div>
    </div>
  </div>
</div>

<div class="pet-card-big">
  <div class="pet-card-big-divider">
    <div class="big-card-container">
      <img class="big-card-pic" src=<%= @picsmall %> />
    </div>
    
    <div class="big-card-container">
      <h1 class="big-card-contact-info"><%= @name %></h1>
      <h3 class="big-card-contact-info"><%= @animal %>, <%= @breed %></h3>
      <p class="big-card-contact-info"><%= @address %>, <%= @city %>, <%= @state %> <%= @zip %></p>
      <p class="big-card-contact-info">Call: <%= @phone %></p>
      <p class="big-card-contact-info">Email: <%= @email %></p>
    </div>
  </div>

  <div class="pet-card-big-divider">
    <p class="big-card-contact-info"><%= @description %></p>
  </div>
</div>

  
<div class="result"></div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDntNQvZ1AMlJwJDnwycxyLWJcJvZUmCfk&libraries=places&libraries=geometry"></script>
<script src="/js/mapsearch.js"></script>



