<!-- PAGE FOR RESULTS OF SEARCH / AJAX QUERY -->

<div class="container">
  <header class="col-8">
    <h1><a href="/?">WuvR</a></h1>
  </header>

  <div class="col-4">
    <nav>
      <ul>
        <li class="nav"><a href="/profile"><h4>My Profile</h4></a></li>
        <li class="nav"><a href="/logout"><h4>Log Out</h4></a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-8 push-2">
      <div id="map"></div>
    </div>
  </div>

  <div class="row">
      <div class="pet-card-holder col-12">
      
        <% @petArray.each do |pet| %>
          
          <div class="pet-card col-12">

            <div class="card-divider">
              <img class="pet-img card-data" src=<%= pet["picsmall"] %> />

              <ul class="card-list card-data">
                <li class="pet-name"><strong><em>Name: <%= pet["name"] %></em> </strong></li>
                <li>Type: <%= pet["animal"] %></li>
                <li>Breed: <%= pet["breed"] %></li>
                <li>Email: <%= pet["email"] %></li>
                <li>Phone: <%= pet["phone"] %></li>
                <li>Location: <%= pet["city"] %>, <%= pet["state"] %> <%= pet["zip"] %></li>
              </ul>
            </div>

            <div class="card-divider">
              <p>About <%= pet["name"] %>: <%= pet["description"] %></p>
            </div>

            <div class="card-divider">
              <form action="/pets/petsave" method="post">
                <input type="hidden" name="petdata" value=<%= pet["petid"] %> />
                <button type="submit">Save</button>
              </form>
            </div>

          </div>

        <% end %>

      </div>
    </div>
  
</div>




<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDntNQvZ1AMlJwJDnwycxyLWJcJvZUmCfk&libraries=places&libraries=geometry"></script> -->
