<!-- PAGE FOR RESULTS OF SEARCH / AJAX QUERY -->

<div class="container">
  <header class="col-8">
    <h1><a href="/?">WuvR</a></h1>
  </header>

  <div class="col-4">
    <nav>
      <ul>
        <li class="nav"><a href="/profile"><h4>My Profile</h4></a></li>
        <li class="nav"><a href="/logout"><h4>Log Out</h4></a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-8 push-2">
      <div id="map"></div>
    </div>
  </div>

  <div class="row">
      <div class="pet-card-holder col-12">
      
        <% @petArray.each do |pet| %>
          
          <div class="pet-card col-4">

            <div class="card-divider">
              <img class="pet-img card-data" src=<%= pet["picsmall"] %> />

              <ul class="card-list card-data">
                <li class="pet-name"><strong><em><%= pet["name"] %></em> </strong></li>
                <li><%= pet["breed"] %></li>
                <li><%= pet["email"] %></li>
                <li><%= pet["city"] %>, <%= pet["state"] %></li>
              </ul>
            </div>

            <div class="card-divider">
              <form action="/pets/petsave" method="post">
                <input type="hidden" name="name" value="<%= pet["name"] %>" />
                <input type="hidden" name="animal" value="<%= pet["animal"] %>" />
                <input type="hidden" name="breed" value="<%= pet["breed"] %>" />
                <input type="hidden" name="phone" value="<%= pet["phone"] %>" />
                <input type="hidden" name="email" value="<%= pet["email"] %>" />
                <input type="hidden" name="address" value="<%= pet["address"] %>" />
                <input type="hidden" name="city" value="<%= pet["city"] %>" />
                <input type="hidden" name="state" value="<%= pet["state"] %>" />
                <input type="hidden" name="zip" value="<%= pet["zip"] %>" />
                <input type="hidden" name="description" value="<%= pet["description"] %>" />
                <input type="hidden" name="picsmall" value="<%= pet["picsmall"] %>" />
                <input type="hidden" name="petid" value="<%= pet["petid"] %>" />
                <button type="submit">Meet me!</button>
              </form>
            </div>

          </div>

        <% end %>

      </div>
    </div>



  
</div>




<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDntNQvZ1AMlJwJDnwycxyLWJcJvZUmCfk&libraries=places&libraries=geometry"></script>
  <script>
  var animal = '<%= @animal %>';
  var breed  = '<%= @breed %>';
  var zip    = '<%= @zip %>';
  var zipLat = '<%= @zipLat %>'; 
  var zipLng = '<%= @zipLng %>';
  var meta = <%= @metaArray %>;
  var name = <%= [@metaArray[0]] %>;
  var address  = <%= @metaArray[1] %>;
  // console.log(meta[0])
  // console.log(meta[1])
  var center = { lat: parseFloat(zipLat), lng: parseFloat(zipLng) }
  // console.log(center)  

    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {zoom: 8});
      var geocoder = new google.maps.Geocoder;
   

      function loopZip() {
        for (var i = 0; i < address.length; i++) {
          geocoder.geocode({'address': address[i]}, function(results, status) {
          // console.log(results[0], 'this is results [0]')
          // console.log(results[0].geometry, 'this is results geometry'
    
          var input = new google.maps.LatLng(center.lat, center.lng)
          var shelter = new google.maps.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng())
          var markerCoords = { lat: shelter.lat(), lng: shelter.lng() }
          console.log(markerCoords)
          // console.log(google.maps.geometry.spherical.computeDistanceBetween(input, shelter), 'this is spherical')
          var distance = google.maps.geometry.spherical.computeDistanceBetween(input, shelter) / 1609.34;
          // console.log(distance, 'this is distance')
            if (distance <= 100) {
              if (status === 'OK') {
                map.setCenter(center);

                for (var i = 0; i < meta[0].length; i++) { 

                  var petName = meta[0][i]
                  var infowindow = new google.maps.InfoWindow({content: petName});
                  var marker = new google.maps.Marker({ map: map, position: markerCoords });
                  google.maps.event.addListener(marker, 'click', function() { infowindow.open(map,marker) });
                }
                
              } else {
                window.alert('Geocode was not successful for the following reason: ' +
                    status);
              }
            }
          
          });
        }   
      }
    loopZip();
    }
    initMap()
    </script>
