<!-- PAGE FOR RESULTS OF SEARCH / AJAX QUERY -->

<div class="container">
  <header class="col-8">
    <h1><a href="/?">WuvR</a></h1>
  </header>

  <div class="col-4">
    <nav>
      <ul>
        <li class="nav"><a href="/profile"><h4>My Profile</h4></a></li>
        <li class="nav"><a href="/logout"><h4>Log Out</h4></a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-8 push-2">
      <div id="map"></div>
    </div>
  </div>

  <div class="row">
      <div class="pet-card-holder col-12">
      
        <% @petArray.each do |pet| %>
          
          <div class="pet-card col-4">

            <div class="card-divider">
              <img class="pet-img card-data" src=<%= pet["picsmall"] %> />

              <ul class="card-list card-data">
                <li class="pet-name"><strong><em><%= pet["name"] %></em> </strong></li>
                <li><%= pet["breed"] %></li>
                <li><%= pet["email"] %></li>
                <li><%= pet["city"] %>, <%= pet["state"] %></li>
              </ul>
            </div>

            <div class="card-divider">
              <form action="/pets/petsave" method="post">
                <input type="hidden" name="name" value="<%= pet["name"] %>" />
                <input type="hidden" name="animal" value="<%= pet["animal"] %>" />
                <input type="hidden" name="breed" value="<%= pet["breed"] %>" />
                <input type="hidden" name="phone" value="<%= pet["phone"] %>" />
                <input type="hidden" name="email" value="<%= pet["email"] %>" />
                <input type="hidden" name="address" value="<%= pet["address"] %>" />
                <input type="hidden" name="city" value="<%= pet["city"] %>" />
                <input type="hidden" name="state" value="<%= pet["state"] %>" />
                <input type="hidden" name="zip" value="<%= pet["zip"] %>" />
                <input type="hidden" name="description" value="<%= pet["description"] %>" />
                <input type="hidden" name="picsmall" value="<%= pet["picsmall"] %>" />
                <input type="hidden" name="petid" value="<%= pet["petid"] %>" />
                <button type="submit">Meet me!</button>
              </form>
            </div>

          </div>

        <% end %>

      </div>
    </div>



  
</div>




<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDntNQvZ1AMlJwJDnwycxyLWJcJvZUmCfk&libraries=places&libraries=geometry"></script> -->
