<!-- USER PROFILE PAGE, HOLDS COLLECTIONS OF PETS -->
<div class="row">
  <header class="col l6 m6 s12">
    <h1><a href="/?">WuvR</a></h1>
  </header>

  <div class="col l6 m6 s12">
    <nav>
      <ul>
        <li class="nav"><a href="/profile"><h4>My Profile</h4></a></li>
        <li class="nav"><a href="/logout"><h4>Log Out</h4></a></li>
      </ul>
    </nav>
  </div>
</div>


<div class="row">
  <div class="col l12 m12 s12 center">
    <h2>Hi, <%= @user["firstname"] %>!</h2>
  </div>
</div>     

<div class="row">
  <div class="col l12 m12 s12 center">
    <h3>Search for a new friend:</h3>
    <hr />
  </div>
</div> 


  <div class="row">
    <div class="col l12 m12 s12 center">
      <form action="/pets" method="post" class="search-form">
        <label class="search-element">Type of pet?</label>
        <select name="animal" id="animal-select">
          <option value="">All pets</option>
          <option value="dog">Dogs</option>
          <option value="cat">Cats</option>
          <option value="rabbit">Rabbits</option>
          <option value="smallfurry">Small Creatures</option>
          <option value="horse">Horses</option>
          <option value="bird">Birds</option>
          <option value="reptile">Fish, Reptiles and Amphibians</option>
          <option value="pig">Pigs</option>
          <option value="barnyard">Barnyard</option>
        </select>
        <label class="search-element">Type of pet?</label>
        <select name="breed" id="breed-select">
          <option value="">Please select a breed</option>
        </select>
        <label class="search-element">Within 25 miles of...</label>

        <div class="row">
          <div class="col l12 m12 s12 center">
            <input id="zipinput" value="" type="text" name="zip" placeholder="Zip Code" />
          </div>
        </div>

      <div class="row"> 
        <div class="col l12 m12 s12 center">
        <button>Search!</button>
      </div>
    </div>

      </form>
    </div>
  </div>




  <div class="row">
    <div class="col l12 m12 s12 center">
      <h3>Here are the pets you are following:</h3>

      <% @petlist.each do |pet| %>
          
        <div class="pet-card col l12 m12 s12 center">

          <div class="card-divider">
            <img class="pet-img card-data" src=<%= pet["photo"] %> />

            <ul class="card-list card-data">
              <li class="pet-name"><strong><em>Name: <%= pet["name"] %></em> </strong></li>
              <li>Type: <%= pet["animal"] %></li>
              <li>Breed: <%= pet["breed"] %></li>
              <li>Email: <%= pet["email"] %></li>
              <li>Phone: <%= pet["phone"] %></li>
              <li>Location: <%= pet["city"] %>, <%= pet["state"] %> <%= pet["zip"] %></li>
            </ul>
          </div>

          <div class="card-divider">
            <p>About <%= pet["name"] %>: <%= pet["description"] %></p>
          </div>

          <div class="card-divider">
            <form action="/pets/petsave" method="post">
              <input type="hidden" name="petdata" value=<%= pet["petid"] %> />
            </form>
          </div>

        </div>

      <% end %>

      <hr />
    </div>
  </div>



<div class="container">
  
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="/js/breedselect.js"></script>
